body {
  background-color: rgb(101, 101, 245);
  font: normal 15pt Arial;
}
section {
  background-color: white;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.589);
}
footer {
  color: white;
  text-align: center;
  font-style: italic;
}
